<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Authcord</title>

  <style>
    html, body {
      font-family: 'Arial', 'sans-serif';
      color: #333
    }

    .title, .ip-wrappers {
      margin-bottom: 50px;
    }

    p {
      font-size: 14px;
      max-width: 700px;
      line-height: 1.7;
    }

    .container {
      margin: 30px;
    }

    input, select {
      display: block;
      padding: 10px;
      margin-top: 15px;
    }

    .session {
      margin-top: 20px;
    }

    .error, #error {
      font-weight: bold;
      color: red;
    }

    #success {
      font-weight: bold;
      color: green;
    }

    .session {
      padding-left: 15px;
      border-left: 3px solid #d6d6d6;
    }

    .session:not(:first-child) {
      margin-top: 20px;
    }

    #linkCreator {
      margin-top: 50px;
    }

    h3 {
      margin: 35px 0 10px 0;
    }

    #add {
      margin-top: 20px;
    }

    .add-data {
      display: flex;
      align-items: flex-end;
    }

    .add-data input:not(:first-child) {
      margin-left: 25px;
    }

    label {
      display: flex;
      align-items: center;
    }

    label input {
      margin: 0;
    }

    label p {
      margin: 0 0 0 10px;
      user-select: none;
    }

    button[type=submit] {
      margin-top: 20px;
    }

  </style>
</head>
<body>
  <div class="container">
    {{{ body }}}
  </div>
</body>
</html>